<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
        <title>Footer</title>
    </head>
    <body>
        <footer>
            <hr>
            <p>text</p>
            <hr>
            <p>
                &copy; 2025 Evelyn's Shop.  |  <a>Privacy Policy</a>  |  <a>Terms of Use</a>  |  <a>Sitemap</a>
            </p>
        </footer>
    </body>
    <script src="../public/script.js" defer></script>
</html>