table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.navbar {
    background: white;
    padding: 10px 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.nav-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.nav-item {
    position: relative;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    color: rgb(60, 60, 60);
    padding: 10px 15px;
    display: block;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.3s ease-in-out;
}

.nav-item:hover .nav-link::after {
    width: 100%;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    display: none;
    width: max-content;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item:hover .dropdown {
    display: block;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dropdown-menu li {
    padding: 8px 15px;
    position: relative;
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: black;
    transition: width 0.3s ease-in-out;
}

.dropdown-menu li:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: #000000;
}